@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lemon&family=Rosarivo:ital@0;1&display=swap');
* {
    padding: 0; 
             
}  
:root {
     --primary-color:#177b9f; 
     --secondary-color:#035d87;
     --accent1-color:#ddd8c4;
     --accent2-color:#2d232e;
     
     --heading-font: 'lemon',serif;
     --paragraph-font: 'Rosarivo',serif;
    }    
    h1, h2 {
     font-family: var(--heading-font);
     color: var(--Primary-color);
    }
    p {
     font-family: var(--paragraph-font);
     color:  var(--Primary-color); 
    }
    header {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        background-color: steelblue;
        padding: 1px;
        gap: 1.5rem;  
        border-width: 30px;
        justify-content: space-evenly; 
    }
    header img {
        width: 9rem;
        height: auto;
        position: relative;
        padding-left: 6rem;
        padding-right: 12rem;
    }
    nav {       
        display:flex;       
        align-items: center;        
    }
    nav a { 
        text-decoration-line: none;         
        color:#faf5fa;  
        background-color: #200606;
        border: 2px solid rgba(242, 244, 245, 0.2); 
        width: 15rem; 
        height: 3rem; 
        text-align: center; 
        font-size: larger; 
        padding-top: 0.5px; 
        font-weight: bold;      
    }
    nav a:hover {
        background-color: rgb(107, 35, 17);
    }
    section {                    
        border: 2px solid rgba(8, 84, 134, 0.2);
        margin-top: 1rem;
        background-color: #f6f8f3;
        padding-left: 0.5rem;
    }    
    section h2 {
        display: grid;
        grid-template-columns: auto;
        align-self: center;
    }
     footer {
        text-decoration-line: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color:#faf9f7;
        font-weight: bold; 
        border: 2px solid rgba(8, 84, 134, 0.2);
        background-color: steelblue;
        padding: 2px;
        margin-top: 1rem;
    }
    body {
        padding: 2rem;
        font-size: 1em; 
        margin-top: 1rem;
        max-width: 1600px;
    } 
    button {
        font-size: larger;
        font-weight: bold;
        color:#ddd8c4; ;
        background-color: #011102;
    }
    button:hover {
        background-color: #200101;
    }
    /* class selectors */
    .hero {
        width: fit-content;
        height: auto;
        position: relative; 
        margin-top: 0.9rem;
        padding-left: 25rem;
        align-content: center;
        border: 2px solid rgba(8, 84, 134, 0.2);
        background-color: #f6f8f3;
    }
     h1 {
        padding: 1rem;
        background-color: #6b6a6a;
        width: 48rem;
        color: #ddd8c4;
        text-align: center;
        position: absolute;
        top: 20px;        
    }    
    article {
        position: absolute;
        padding: 1rem;
        margin-left: 3rem;
        bottom: 19rem;
        width: 40rem;
        background-color: #035d87;
        color: #faf9f7;
    }
    article img {
        float: right;
        width: auto;
    }   
    .grid  {
        display: grid;          
        grid-template-columns: 35% 50% 15%;  
        margin-top: 0.5rem;
        padding-block: 1rem                         
    } 
    .grid h3 {
        grid-column: 3;
        grid-row: 1;
        font-style: italic;
        font-size: larger;
        letter-spacing: 2px;
        padding-right: rem;
    } 
    .grid img  {
        width: fit-content;
        align-items: center;
    }     
    .flex-icons {
        display: flex;
        flex-direction: row;       
        align-items: flex-start;        
        align-items: start;       
        margin-top: 0.5rem;        
    }   