@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lemon&family=Rosarivo:ital@0;1&display=swap');

* {
    padding:0
    
}

   :root {
        --primary-color:#177b9f; 
        --secondary-color:#035d87;
        --accent1-color:#ddd8c4;
        --accent2-color:#2d232e;
        
        --heading-font: 'lemon',serif;
        --paragraph-font: 'Rosarivo',serif;
       }
    h1, h2 {
        font-family: var(--heading-font);
        color: var(--Primary-color);
    }

    p {
        font-family: var(--paragraph-font);
        color:  var(--Primary-color); 
    }
    
    nav a {
        text-decoration-line: none;
        }
    main {
        max-width: 600px;
    }

     body{
        padding: 2rem;
        font-size: 1em; 
        margin-top: 1rem;     
    }

    /* class selectors */
    .hero {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
    }
    h1 {
        padding: 1rem;
        background-color: #6b6a6a;
        width: 48rem;
        color: #ddd8c4;
        text-align: center;
        position: absolute;
        top: 20px;        
    }
    
    article {
        position: absolute;
        padding: 1rem;
        margin-left: 3rem;
        bottom: 19rem;
        width: 40rem;
        background-color: #035d87;
        color: #ddd8c4;
    }
    article img {
        float: right;        
    }    