@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lemon&family=Rosarivo:ital@0;1&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    }
    :root {
        --primary-color:#177b9f; 
        --secondary-color:#035d87;
        --accent1-color:#ddd8c4;
        --accent2-color:#2d232e;
        
        --heading-font: 'lemon',serif;
        --paragraph-font: 'Rosarivo',serif;

        --nav-background-color: #112A46;
        --nav-link-color:#c9c4dd;
        --nav-hover-link-color:#035d87;
        --nav-hover-background-color:#177b9f;
    }
    body {

        font-family: var(--paragraph-font);
        max-width: 960px;
        padding: 20px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--heading-font);
        color: var(--Primary-color);
    }
    header {
        padding: 20px;
        background-color: var(--accent1-color);
    }
    p {
        padding: 10px;
    }
    nav {
        background-color: var(--nav-background-color);
        font-size: 1.5rem;
        display: flex;
    }

    nav a {
        display: block;
        color: var(--nav-link-color);
        text-decoration: none;
        padding: 4rem;
    }

    nav a:link, nav a:visited {
        color: var(--nav-link-color);
    }

    nav a:hover {
        color: var(--nav-hover-link-color);
        background-color: var(--nav-hover-background-color);
    }